
<app-admin-header></app-admin-header>

<ion-toolbar>
  <ion-title>Trang quản trị</ion-title>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card routerLink="/admin/phim">
          <ion-card-header>
            <ion-card-title>Quản lý phim</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Thêm, sửa, xóa phim
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card routerLink="/admin/suatchieu">
          <ion-card-header>
            <ion-card-title>Quản lý suất chiếu</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Thêm, sửa, xóa suất chiếu
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card routerLink="/users">
          <ion-card-header>
            <ion-card-title>Quản lý người dùng</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Thêm, sửa, xóa suất chiếu
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card routerLink="/ticket-history">
          <ion-card-header>
            <ion-card-title>Quản lý vé</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            <p>Xem và quản lý vé</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card routerLink="/admin/dichvu">
          <ion-card-header>
            <ion-card-title>Quản lý dịch vụ</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Thêm, sửa, xóa dịch vụ
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card routerLink="/admin/phongchieu">
          <ion-card-header>
            <ion-card-title>Quản lý phòng chiếu</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Thêm, sửa, xóa phòng chiếu
          </ion-card-content>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </ion-grid>
</ion-content> 
<app-admin-footer ></app-admin-footer>
